
.button {
  width: 64px;
  height: 64px;
  background-color: white;
  border: 1px black solid;
  opacity: 1.0;
}

.swatchButton {
  font-size: 1em;
  width: 120px;
  height: 64px;
  margin: 8px;
  padding: 8px;
  border: 1px black groove;
}

.info {
  border-bottom: 1px black ridge;
  padding: 8px;
  text-align: center;
}

.spacing {
  margin: 8px;
  text-align: center;
}

.selected {
  border: 4px yellow groove;
  opacity: 0.3;
}
